<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>MONOMUSE</h1>
            <h1 class="title">ANSEL ADAMS</h1>
        </header>        <nav class="nav_bar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./exhibitions.html">Exhibitions</a></li>
                <li><a href="./visit.html">Visit info</a></li>
                <li><a href="./tickets.html">Buy Tickets</a></li>
            </ul>
        </nav>
        <main class="main_text"></main>
        <aside class="aside"></aside>
        <section class="section"></section>
        <Footer class="footer">
            <P id="footer_copy"></P>
        </Footer>
    </div>
</body>
</html>