:root {
    --lightGray: rgb(231, 231, 231);
    --gray: rgb(158,162,162);
    --mud: rgb(94,81,77);
}
* {
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
}

body {
    background-color: var(--lightGray);
}

ul li {
    list-style-type: none;
    display: inline;

}

li a {
    text-decoration: none;
    color: black;

}



.active {
    color: red;
    border: 1px solid red;

}




p {
    line-height:200%;
}

