* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: red;
}

div.important {
    color: yellow;
    background-color: gray;
}

#title1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol li:first-child {
    color: aqua;
}