<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secssion D Phase B</title>
    <style></style>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div class="important">
        <h1 id="title1">Hello world!</h1>
        <h3>Secssion D</h3>
    </div>
    <div>
        <P style="color: blue;" class="important">Some text and content</P>
        <P>Some more text and content</P>

    </div>
    <ol>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol>
    
    
</body>
</html>