<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="../static/script.js" defer></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>MONOMUSE</h1>
            <h1 class="title">ANSEL ADAMS</h1>
        </header>
        <nav class="nav_bar" id="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./exhibitions.html">Exhibitions</a></li>
                <li><a href="./visit.html">Visit info</a></li>
                <li><a href="./tickets.html">Buy Tickets</a></li>
                <li><a href="javascript:void(0);" class="icon" onclick="ResponsiveNavBar()">
                    <i class="fa fa-bars"></i></a></li>
            </ul>
        </nav>
        <main class="main_text">
            <div class="map"></div>
        </main>
        <aside class="aside"></aside>
        <section class="section"></section>
        <Footer class="footer">
            <P id="footer_copy"></P>
        </Footer>
    </div>
</body>

</html>